* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility*/

.container {
    width: 60%;
    margin: 0 auto;
}

/* header */

.container-header {
    width: 50%;
    margin: 0 auto;
}

header {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    align-items: center;
}

.row-header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
}

.col-sm-header {
    width: 20%;
    border: dashed 2px black;
    display: flex;
    align-items: center;
    height: 30px;
}

.col-sm-header p {
    margin: 80%;
}

.col-lg-header {
    width: 60%;
    border: dashed 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    padding: 5px;
}

/* main */

/* Section 1 */

.container-bgcolor-s1 {
    width: 100%;
    height: 400px;
    background-color: blue;

}

.row-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.col-lg-s1 {
    width: 50%;
    height: 300px;
    background-color: pink;
    border: dashed 2px black;
}

/* Section 2 */

.container-bgcolor-s2 {
    width: 100%;
    height: 400px;
    background-color: white;
}

.row-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.col-lg-s2 {
    width: 60%;
    height: 300px;
    background-color: lightblue;
    border: dashed 2px black;
}

.col-sm-s2 {
    width: 40%;
    height: 300px;
    background-color: #e657ff;
    border: dashed 2px black;
}

/* Section 3 */

.container-bgcolor-s3 {
    width: 100%;
    height: 400px;
    background-color: lightgray;
}

.row-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.col-lg-s3 {
    width: 60%;
    height: 300px;
    background-color: lightblue;
    border: dashed 2px black;
}

.col-sm-s3 {
    width: 40%;
    height: 300px;
    background-color: #e657ff;
    border: dashed 2px black;
}

/* Section 4 */

.container-bgcolor-s4 {
    width: 100%;
    height: 400px;
    background-color: white;
}

.row-s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.col-lg-s4 {
    width: 60%;
    height: 300px;
    background-color: lightblue;
    border: dashed 2px black;
}

.col-sm-s4 {
    width: 40%;
    height: 300px;
    background-color: #e657ff;
    border: dashed 2px black;
}

/* Section 5 */

.container-bgcolor-s5 {
    width: 100%;
    height: 700px;
    background-color: lightgray;
}

.row-s5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.col-lg-s5 {
    width: 100%;
    height: 600px;
    background-color: green;
    border: dashed 2px black;
}

/* Section 6 */

.container-bgcolor-s6 {
    width: 100%;
    height: 500px;
    background-color: black;
}

.row-s6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.col-lg-s6 {
    width: 60%;
    height: 400px;
    background-color: #e657ff;
    border: dashed 2px black;
}

.col-sm-s6 {
    width: 40%;
    height: 400px;
    background-color: lightblue;
    border: dashed 2px black;
}

/* Footer */

footer {
    height: 100px;
    background-color: black;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.row-footer {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: dashed 2px black;
}

.col-sm-footer {
    height: 30px;
    background-color: pink;
    border: dashed 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}